target/META-INF/mule-src/maven-prod-cicd-int/src/main/mule/maven-prod-cicd-int.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6cd9a9c6-3b49-4e73-a869-084f992789ec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="maven-prod-cicd-intFlow" doc:id="a1db119a-8c3a-4b2a-b3a0-5d5b7081bd89" >
		<http:listener doc:name="Listener" doc:id="8b3929dd-0194-4fcc-baa8-3b73d5254f63" config-ref="HTTP_Listener_config" path="/path"/>
		<logger level="INFO" doc:name="Logger" doc:id="392d0805-4cdb-4c4d-9cc2-2b42d996faaf" message="#[payload]"/>
	</flow>
</mule>
